.container {
    margin: 10px;
}

.headerContent {
    padding: 64px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
}

.demo-tabs>.el-tabs__content {
    padding: 18px;
    color: #6b778c;
    font-size: 32px;
    font-weight: 600;
}

.layout-container,
.layout-container, .el-container,
.layout-container, .el-aside,
.layout-container, .el-main{
    height: 100vh;
    min-height: 0;
}

.search-bar-row {
    display: flex;
    align-items: flex-end;
}