<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhu.Mapper.EmploymentMapper">

<!--    插入就业信息-->
    <insert id="insert">
        insert into employment (student_id, job_id)
        values (#{studentId}, #{jobId})
    </insert>

<!--    通过申请-->
    <update id="updateApplication">
        update employment
        set application_status = #{status}
        where student_id = #{studentId} and job_id = #{jobId}
    </update>
</mapper>