<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhu.Mapper.JobMapper">

<!--    company-发布岗位-->
    <insert id="addJob" useGeneratedKeys="true" keyProperty="jobId">
        INSERT INTO job (title, type_id, description, demand_number, hired_number, company_id, status)
        VALUES (#{title}, #{typeId}, #{description}, #{demandNumber}, #{hiredNumber}, #{companyId}, #{status})
    </insert>



<!--    company-更新岗位-->
    <update id="updateJobById">
        update job
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="typeId != null and typeId != ''">
                type_id = #{typeId},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="demandNumber != null and demandNumber != ''">
                demand_number = #{demandNumber},
            </if>
            <if test="hiredNumber != null and hiredNumber != ''">
                hired_number = #{hiredNumber},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </set>
        WHERE job_id = #{jobId}
    </update>

<!--    admin-批量删除岗位-->
    <delete id="deleteJobs">
        delete from job
        where job_id in(
            <foreach collection="ids" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
            )
    </delete>


    <!--    all-分页查询-->
    <select id="getAllJobs" resultType="com.dhu.Pojo.JobInfo">
        SELECT j.job_id,
               j.title,
               jt.name jobType,
               j.description,
               j.demand_number,
               j.hired_number,
               j.company_id,
               c.company_name,
               c.company_intro,
               j.status
        FROM job j
        LEFT JOIN job_type jt ON j.type_id=jt.type_id
        LEFT JOIN company c ON j.company_id=c.company_id
        <where>
            <if test="jobId != null and jobId != ''">
                AND j.job_id = #{jobId}
            </if>
            <if test="title != null and title != ''">
                AND j.title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="companyName != null and companyName != ''">
                AND c.company_name LIKE CONCAT('%', #{companyName}, '%')
            </if>
            <if test="jobType != null and jobType != ''">
                AND jt.name LIKE CONCAT('%', #{jobType}, '%')
            </if>
            <if test="description != null and description != ''">
                AND j.description LIKE CONCAT('%', #{description}, '%')
            </if>
            <if test="status != null and status != ''">
                AND j.status = #{status}
            </if>
        </where>
    </select>

<!--    all-ID查询-->
    <select id="getJobById" resultType="com.dhu.Pojo.JobInfo">
        SELECT j.job_id,
               j.title,
               jt.name jobType,
               j.description,
               j.demand_number,
               j.hired_number,
               j.company_id,
               c.company_name,
               c.company_intro,
               j.status
        FROM job j
        LEFT JOIN job_type jt ON j.type_id=jt.type_id
        LEFT JOIN company c ON j.company_id=c.company_id
        WHERE j.job_id = #{jobId}
    </select>


</mapper>