<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhu.Mapper.StudentMapper">

    <insert id="insert" parameterType="com.dhu.Pojo.User">
        INSERT INTO student (student_id, user_id, major_id, graduation_year)
        VALUES (#{studentId}, #{userId}, #{majorId}, #{graduationYear})
    </insert>

    <update id="updateByStudentId">
        UPDATE student
        <set>
            <if test="userId != null and userId != ''">user_id = #{userId},</if>
            <if test="majorId != null and majorId != ''">major_id = #{majorId},</if>
            <if test="graduationYear != null and graduationYear != ''">graduation_year = #{graduationYear},</if>
        </set>
        <where>
            student_id = #{studentId}
        </where>
    </update>

    <select id="getById" resultType="com.dhu.Pojo.StudentInfo">
        SELECT s.student_id         AS studentId,
               u.name               AS name,
               u.gender             AS gender,
               m.name               AS major,
               d.`name`             AS department,
               s.graduation_year    AS graduationYear,
               s.employment_status  AS employmentStatus,
               j.title              AS job_title,
               jt.name              AS job_type
        FROM student_info s
                 LEFT JOIN user u ON s.user_id = u.id
                 LEFT JOIN major m ON s.major_id = m.id
                 LEFT JOIN department d ON m.department_id = d.id
                 LEFT JOIN employment e ON s.student_id = e.student_id
                 LEFT JOIN job j  ON e.job_id = j.job_id
                 LEFT JOIN job_type jt ON j.type_id = jt.type_id
        where s.student_id = #{studentId}
    </select>

    <delete id="deleteByIds">
        DELETE FROM student where student_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="com.dhu.Pojo.StudentInfo">
        SELECT s.student_id         AS studentId,
               u.name               AS name,
               u.gender             AS gender,
               m.name               AS major,
               d.`name`             AS department,
               s.graduation_year    AS graduationYear,
               s.employment_status  AS employmentStatus,
               j.title              AS job_title,
               jt.`name`            AS job_type
        FROM student_info s
        LEFT JOIN user u ON s.user_id = u.id
        LEFT JOIN major m ON s.major_id = m.id
        LEFT JOIN department d ON m.department_id = d.id
        LEFT JOIN employment e ON s.student_id = e.student_id
        LEFT JOIN job j  ON e.job_id = j.job_id
        LEFT JOIN job_type jt ON j.type_id = jt.type_id
        <where>
            <if test="studentId != null and studentId != ''">
                AND s.student_id = #{studentId}
            </if>
            <if test="name != null and name != ''">
                AND u.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="gender !=null and gender != ''">
                AND u.gender = #{gender}
            </if>
            <if test="majorId != null and majorId != ''">
                AND s.major_id = #{majorId}
            </if>
            <if test="departmentId != null and departmentId !=''">
                AND d.id = #{departmentId}
            </if>
            <if test="graduationYear != null and graduationYear != ''">
                AND s.graduation_year = #{graduationYear}
            </if>
            <if test="employmentStatus != null and employmentStatus != ''">
                AND s.employment_status = #{employmentStatus}
            </if>
        </where>
    </select>

<!--    根据用户ID查找学生ID-->
    <select id="findIdByUserId" resultType="java.lang.Integer">
        select student_id from student where user_id = #{userId}
    </select>


</mapper>